/* Color Theme Swatches in Hex */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&family=Roboto:wght@400;500;700&display=swap");
/* Borders */
.c-blanco {
  color: whitesmoke; }

.c-verde {
  color: greenyellow; }

.c-gris {
  color: darkslategrey; }

.cards {
  padding: 1rem;
  display: flex;
  flex-flow: column; }

.card {
  background-color: #dce3e8;
  padding: 1.1rem;
  margin: 1.1rem auto; }
  .card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; }
    .card__img img {
      width: 100%;
      transition: scale 200ms ease; }

.titulo-seccion {
  color: #1c3b61;
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  font-weight: bolder;
  padding: none;
  margin: none; }

.card-title {
  color: #224774;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 700; }

.header {
  background-color: black;
  color: #489CBF;
  font-family: "Roboto", sans-serif;
  font-weight: bolder; }

h2 {
  color: #abc1cd;
  font-family: "Roboto", sans-serif; }

a.nav-link {
  color: #489CBF; }

.btn {
  color: #1c3b61;
  background-color: #489CBF;
  border-radius: 1rem #1c3b61; }

/* FOOTER */
a.dropdown-item {
  color: #489CBF; }

i.bi-facebook::before {
  color: #489CBF; }

i.bi-twitter::before {
  color: #489CBF; }

i.bi-instagram::before {
  color: #489CBF; }

i.bi-spotify::before {
  color: #489CBF; }

a.nav-link.active {
  font-size: x-large;
  font-weight: 500; }

/* Seccion Galeria Grid */
.caja-grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 15px;
  margin: 0; }

@media (min-width: 575px) {
  .contenedor-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    grid-gap: 10px;
    padding: 2vh 7.5vw; } }
.caja-grid.c7 {
  grid-column-start: span 2; }

@media screen and (min-width: 1024px) {
  .contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2vh 3vw;
    grid-gap: 3px;
    margin: auto; }

  .caja-grid.c7 {
    grid-column-start: span 1; }

  .caja-grid.c8 {
    grid-column-start: span 2;
    grid-row-start: span 2; }

  .caja-grid.c9 {
    grid-column-start: span 1; } }
