/* FOOTER */
a.dropdown-item{
    color: $clr-celesteoscuro;
}

i.bi-facebook::before{
    color: $clr-celesteoscuro;
}

i.bi-twitter::before{
    color: $clr-celesteoscuro;
}

i.bi-instagram::before{
    color: $clr-celesteoscuro;
}

i.bi-spotify::before{
    color: $clr-celesteoscuro;
}

a.nav-link.active{
    font-size: x-large;
    font-weight: 500;
}

