.header{
    background-color: black;
    color: $clr-celesteoscuro;
    font-family: $ff-roboto;
    font-weight: bolder;
    }

h2{
    color: $clr-celestemedio;
    font-family: $ff-roboto;
}


a.nav-link{
    color: $clr-celesteoscuro;
}

.btn {
    color: $clr-azuloscuro;
    background-color: $clr-celesteoscuro;
    border-radius: 4px;
    border: 1px solid black;

    &:hover {
        filter:grayscale(100%);
    }
}

.btnAzul{
    @extend .btn;
    background-color: $clr-azuloscuro;
    color: whitesmoke;
}

.btnCeleste{
    @extend .btn;
    background-color: $clr-celesteoscuro;
    color: black;
}