/* *{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

ul, li{
    list-style-type: none;
    display: inline-block;
    }

a{
    text-decoration: none;
}

Header
header{
    background-color: black;
    color: greenyellow;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h2{
    color: white;
    background-color: black;
    font-size: 0.65rem;
    padding: 2px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

nav{
    color: greenyellow;
    font-size: 0.7rem;
    padding: 10px;
}

input{
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 0px 16px;
    border: greenyellow solid 1px;
}

button{
    background-color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px;
}


/* Seccion News */
/* .titulo-seccion{
    padding: 10px;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    background: rgb(166, 255, 77);
    background: linear-gradient(180deg, rgb(157, 255, 77) 0%, rgb(154, 255, 3) 100%);
    text-shadow: 1px 1px 1px rgb(150, 148, 148);
}

.contenedor-noticias{
    padding: 30px;
    display: flex;
    overflow-x: scroll;
    flex-direction: column;
}

.noticia{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgb(221, 222, 218);
    border-radius: 1.5px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(254, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    box-shadow: 5px 5px 5px rgb(171, 171, 171);
} */

/* .noticia:hover{
    transform: scale(1.02);
}

.noticia-img{
    width: 100%;
}

.noticia-tittle{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    line-height: 40px;
}

.contacto{
    text-align: justify;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(10, 16, 1);
    width: auto ;
    border: 2px solid rgb(221, 222, 218);
    border-radius: 1.5px;
    box-shadow: 5px 5px 5px rgb(171, 171, 171);
    margin: 6%;
    padding: 40px;
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
} */

/* Footer */
/* .titulo-cierre{
    text-align:center;
    background-color: black;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 10px;
}

.diversy{
    text-align:center;
    background-color: black;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.85rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration:solid;
    color: greenyellow;
} */

/* .contenedor-redes{
    text-align: end;
    background-color: black;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 2rem;
    display: flex;
    justify-content:space-around;
}


@media(min-width:1024px){ */
/* Header */
    /* header{
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }    

    header nav{
        width: 30%;
    }
    
    header h2{
        font-size: 0.7rem;
        text-align: start;
    } */

/* Main */
/* .contenedor-noticias{
    padding: 30px;
    display: flex;
    overflow-x: scroll;
    flex-direction: column;
}


.grid-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 30%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "news news trending"
    "news news trending"
    "news news trending";
}      */



/* Seccion News */
/* .news{
    grid-area: news;
}

.contenedor-noticias{
    justify-content: space-around;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    
} */

/* Seccion Trending - a-side
.trending{
    grid-area: trending;
} 

/* Seccion Galeria Grid */

/* .contenedor-grid{
    color: whitesmoke;
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

.caja-grid:hover{
    transform: scale(1.1);
}

.contenedor-grid .caja-grid img{
    width: 100%;
    object-fit: fill;
}

@media screen and (min-width: 1024px) {
.contenedor-grid{
    width: 100%;
    padding: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
}
/* } */





.header{
    background-color: black;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

h2{
    color: white;
}


a.nav-link{
    color: greenyellow;
}

.btn {
    color: greenyellow;
    background-color: darkslategrey;
}

/* FOOTER */
.titulo-cierre{
    text-align:center;
    background-color: black;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 2rem;
}

.diversy{
    text-align:center;
    background-color: black;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.85rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration:solid;
    color: greenyellow;
} 

.contenedor-redes{
    text-align: end;
    background-color: black;
    color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 2rem;
    display: flex;
    justify-content:space-around;
}

