@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fontSize($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

.letraChica {
    @include fontSize(0.5rem, 100);
}

.letraMediana {
    @include fontSize(1.5rem, 400);
}

.letraGrande {
    @include fontSize(2.2rem, 600);
}